* {
  text-align: center;
}

.list_items {
  list-style: none;
  /* display: flex; */
}

.list_item {
  display: flex;
  justify-content: center;
}

/* .list_item h4:first-child {
  margin-left: 1rem;
  border-right: 1px solid black;
  padding: 2rem;
  text-align: center;
} */
